
#define IDD_DLG1 1000
#define IDC_BTN1 1001
#define IDC_BTN2 1002
#define IDC_EDT1 1003
#define IDC_EDT2 1004
#define IDC_STC1 1005
#define IDC_STC2 1006

#define IDR_XPMANIFEST1 1


IDD_DLG1 DIALOGEX 6,5,239,69
CAPTION "Dwice's keygen by Gyver75"
FONT 8,"Times New Roman",700,0
STYLE 0x10800800
BEGIN
  CONTROL "Generate",IDC_BTN1,"Button",0x50018F00,34,46,52,12
  CONTROL "Quit",IDC_BTN2,"Button",0x50018F00,156,46,52,12
  CONTROL "",IDC_EDT1,"Edit",0x50810001,50,8,170,10
  CONTROL "",IDC_EDT2,"Edit",0x50810801,50,29,170,10
  CONTROL "Name:",IDC_STC1,"Static",0x50000201,6,8,40,10
  CONTROL "Serial:",IDC_STC2,"Static",0x50000201,6,29,40,10
END

IDR_XPMANIFEST1 MANIFEST "xpmanifest.xml"

8001 ICON DISCARDABLE "Gyver75.ico"

